*{
    margin:0;
    padding: 0;

}
.load{
    animation: slide 2s;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;
}
.content{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 127, 80, 0.3);
}
.principal{
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
.principal h1{
    font-size: 90px;
    margin-bottom: 50px;
    font-family: 'Permanent Marker', cursive;
}
@keyframes slide{
    0%{
        background-image: url('../images/image1.jpg');
    }
    20%{
        background-image: url('../images/image1.jpg');
    }
    20.01%{
        background-image: url('../images/image2.jpg');
    }
    40%{
        background-image: url('../images/image2.jpg');
    }
    40.01%{
        background-image: url('../images/image3.jpg');
    }
    60%{
        background-image: url('../images/image3.jpg');
    }
    60.01%{
        background-image: url('../images/image4.jpg');
    }
    80%{
        background-image: url('../images/image4.jpg');
    }
    80.01%{
        background-image: url('../images/image5.jpg');
    }
    100%{
        background-image: url('../images/image5.jpg');
    }
}
body {
  margin: 0;
  font-size: 30px;
}

#navbar {
  overflow: hidden;
  background-color: #fefaf0;
  color: black;
  align-items: center;
  align: center;
  z-index: 1;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;

}

#navbar a:hover {
  /* background-color: #fff; */
  color: black;
  font-weight: 900;
  }

#navbar a:active {
  color: coral;
  font-weight: 900;

}
/*
.content {
  padding: 16px;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: coral;
}

.sticky + .content {
  padding-top: 60px;
}
.section2 {
  background: #d4ea79;
  height: 70vh;
}
/* .overlay {
  width: 100%;
  height: 100vh;
  margin: auto 0;
} */

.about {
  position: relative;
  width: 60%;
  margin: 0 auto;
  left: 20%;
  padding: 50px;
  padding-top: 80px;
  margin: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-align: justify;
}
.about h3 {
}

.section3 {
  width: 100%;
}

/* Discover --------------------------------------------------------*/

.section3 {
  padding: 60px;
  overflow: auto;
}

.section3 h2 {
  text-align: center;
  padding-bottom: 30px;
}
#bootstrap-override .destinations-container {
  position: relative;
  top: 100px;
  size: 95%;
  padding: 10px;
}

#bootstrap-override .destinations-container .row {
  padding: 10px;
}

#bootstrap-override .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: rgba(255,255,255,0.6);
}

#bootstrap-override .col-sm-4:hover .overlay {
  opacity: 1;
}

#bootstrap-override #section3 .col-sm-4 .img {
  display: block;
  padding: 20px;
  border: 2px black solid;
  border-radius: 20px;
  padding: 10px;
}

#bootstrap-override .col-sm-4 .text {
  /*text over images upon hover  */
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 200px;
  padding: 40px;
}

#bootstrap-override .col-sm-4 a {
  font-style: normal;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}
/* SECTION 4 - GAME */

.section4 {
  background: #ffd880;
  width: 100vw;
  height: 80vh;
}


/* .section4 {
  height: 100vh;
  background-image: url('../images/check.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
} */

.section4 h2 {
  text-align: center;
  padding: 20px;


}

#bootstrap-override footer {
  margin:0;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  background: white;
  text-align: center;
  position: relative;
}

#bootstrap-override footer .inline {
  /* putting social media icons in line with text */
  display: inline;
  padding: 0;
}
