<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--favicon-->
    <link rel="icon" href="../static/images/faveicon.png" sizes="16x16">
    <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Permanent+Marker" rel="stylesheet">
    <!-- Main CSS  -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Au Pays Des Merveilles
    </title>
  </head>
  <body>

    <div class="slider">
        <div class="load">

        </div>

        <div class="content">
            <div class="principal">
                <h1>AU PAYS DES MERVEILLES</h1>
                <p>Have you ever wondered about the hidden depths of the
                  natural world and all the vibrant places it has to offer? This
                  website presents visitors with a collection of sights from
                  around the globe and allows them to collectively contribute
                  to enhance the site’s library. Enjoy!.</p>
            </div>
        </div>
    </div>


<div class="section2">
  <div class="overlay">
<div id="navbar">
  <a class="active" href="javascript:void(0)">Home</a>
  <a href="javascript:void(0)">About</a>
  <a href="javascript:void(0)">Explore</a>
  <a href="javascript:void(0)">Contribute</a>
</div>

<div class="about">
  <h3>About Au Pays des Mervielles</h3>
  <p>Have you ever wondered about the hidden depths of the natural world and all the vibrant places it has to offer? This website presents visitors with a collection of sights from around the globe and allows them to collectively contribute to enhance the site’s library. Enjoy!</p>


</div>

</div>
<div>
    <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>



    <!--SCRIPTS-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  </body>

</html>
