<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--favicon-->
    <link rel="icon" href="../static/images/faveicon.png" sizes="16x16">
    <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Permanent+Marker|Parisienne" rel="stylesheet">
    <!-- Main CSS  -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Au Pays Des Merveilles
    </title>
  </head>
  <body id="bootstrap-override ">

    <div class="section1 slider" id="section1">
      <div class="load">
      </div>

      <div class="content">
        <div class="principal">
            <h1>AU PAYS DES MERVEILLES</h1>
            <p>Have you ever wondered about the hidden depths of the
                  natural world and all the vibrant places it has to offer? This
                  website presents visitors with a collection of sights from
                  around the globe and allows them to collectively contribute
                  to enhance the site’s library. Enjoy!.</p>
          </div>
      </div>
    </div>
    <div class="section2" id="section2">
      <div class="overlay">
        <div id="navbar">
          <a href="#section1">Home</a>
          <a href="#section2">About</a>
          <a href="#section3">Explore</a>
          <a href="#section4">Contribute</a>
        </div>
        <div class="about">
          <h3>About Au Pays des Mervielles</h3>
          <p>Have you ever wondered about the hidden depths of the natural world and all the vibrant places it has to offer? This website presents visitors with a collection of sights from around the globe and allows them to collectively contribute to enhance the site’s library. Enjoy!</p>
        </div>
      </div>
    </div>
<!---------------------------------SECTION 3---------------------------------->

    <div class="section3" id="section3">
      <h2>Discover</h2>
      <div class="container destinations-container">
        <!--Row 1-->
        <div class="row">
          <!--Image 1-->
          <div class="col-sm-4">
            <img src="../static/images/bolivia.jpg" class="img img-responsive">
            <div class="overlay">
              <a href="bolivia.html">
              <div class="text center-text"> Bolivia</div>
                 </a>
               </div>
            </div>
        <!--Image 2-->
        <div class="col-sm-4">
          <div class="overlay">
            <img src="../static/images/tanzania.jpg" alt="Image" class="img img-responsive">
            <a href="tanzania.html">
              <div class="text center-text"> Tanzania</div>
            </a>
          </div>
        </div>
        <!--Image 3-->
        <div class="col-sm-4">
          <div class="overlay">
            <a href="austria.html">
              <img src="../static/images/austria.jpg" alt="Image" class="img img-responsive">
              <div class="text center-text"> Austria </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!---------------------------------SECTION 4---------------------------------->


    <div class="container">
      <footer class="row">
        <p class="inline"> Contact us </p>
        <nav class="footer inline">
          <a href="https://www.instagram.com/codefirstgirls/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/CodeFirstGirls" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/codefirstgirls" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          <p><small>Au Pays Des Merveilles </small></p>
        </nav>
      </footer>
    </div>


    <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>



    <!--SCRIPTS-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  </body>

</html>
