<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--favicon-->
    <link rel="icon" href="../static/images/faveicon.png" sizes="16x16">
    <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Permanent+Marker|Parisienne" rel="stylesheet">
    <!-- Main CSS  -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Au Pays Des Merveilles
    </title>
  </head>
  <body>

    <div class="slider">
        <div class="load">

        </div>

        <div class="content">
            <div class="principal">
                <h1>AU PAYS DES MERVEILLES</h1>
                <p>Have you ever wondered about the hidden depths of the
                  natural world and all the vibrant places it has to offer? This
                  website presents visitors with a collection of sights from
                  around the globe and allows them to collectively contribute
                  to enhance the site’s library. Enjoy!.</p>
            </div>
        </div>
    </div>


<div class="section2">
  <div class="overlay">
<div id="navbar">
  <a class="active" href="javascript:void(0)">Home</a>
  <a href="javascript:void(0)">About</a>
  <a href="javascript:void(0)">Explore</a>
  <a href="javascript:void(0)">Contribute</a>
</div>

<div class="about">
  <h3>About Au Pays des Mervielles</h3>
  <p>Have you ever wondered about the hidden depths of the natural world and all the vibrant places it has to offer? This website presents visitors with a collection of sights from around the globe and allows them to collectively contribute to enhance the site’s library. Enjoy!</p>
</div>
</div>
  </div>

  <div class="section3">
    <h1>Hello</h1>
    <!--MAIN-->
    <div class="container flowers-container">
      <!--Row 1-->
      <div class="row">
        <!--Image 1-->
        <div class="col-sm-6">
           <img src="images/cherryblossoms.jpg" class="img img-responsive">
           <div class="overlay">
             <a href="cherryblossoms.html">
               <div class="text center-text"> Cherry Blossoms</div>
             </a>
           </div>
        </div>
        <!--Image 2-->
        <div class="col-sm-6">
          <img src="images/orchids.jpg" alt="Image" class="img img-responsive">
          <div class="overlay">
            <a href="orchids.html">
              <div class="text center-text"> Orchids</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



    <div class="container section4" id="form-container">
      <h2 class="col-sm-8 col-sm-offset-2"> Contribute a flower</h2>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <p>We would like to give the readers of our blog a unique opportunity contribute to blog.
            If you have travelled to a certain part of the world and you have come across a flower
            that you think is special and deserves to be features on our blog, just fill in the form below.
            If your flower gets chosen you will be notified by email.</p>
        </div>
     </div>


    <form class="contribute-form" action="/action_page.php">
       <div class="row">
         <div class="form-group">
           <label class="control-label col-sm-2 col-sm-offset-2" for="">Name of flower</label>
             <div class="col-sm-6">
               <input type="text" class="form-control" id="name" placeholder="Enter name">
            </div>
         </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="">Scientific name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="scientific-name" placeholder="Enter scientific name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="email">Its uses</label>
          <div class="col-sm-6">
            <textarea type="text" class="form-control" id="uses" placeholder="Enter a few uses of the flower" name="email"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
        <label class="control-label col-sm-2 col-sm-offset-2" for="native-to">Native to</label>
          <div class="col-sm-6">
            <textarea type="email" class="form-control" id="native-to" placeholder="Name a few places that this flower is native to"></textarea>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="email">Select images</label>
          <div class="col-sm-6">
            <input type="file" class="form-control" id="" placeholder="Enter your email" name="img" multiple>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="email">Email</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="uses" placeholder="Enter your email" name="email">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label> <input type="checkbox" name="remember"> I confirm that all the images belong to me</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-9 col-sm-2">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>


    <div class="container">
      <footer class="row">
        <p class="inline"> Contact us </p>
        <nav class="footer inline">
          <a href="https://www.instagram.com/codefirstgirls/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/CodeFirstGirls" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/codefirstgirls" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          <p><small>Flowers of our Travels by Team Stripes</small></p>
        </nav>
      </footer>
    </div>


    <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>



    <!--SCRIPTS-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  </body>

</html>
